In [7]:
set1={2,3,4,5}
tuple=(1,2,3,4)
new_set=set(tuple)
union=set1 | new_set
print(union)

<class 'TypeError'>: 'set' object is not callable

In [10]:
def (set1,tiple):
set1 = {2, 3, 4, 5}
tiple = (1, 2, 3, 4)

# Convert tuple to set
new_set = set(tiple)

# Perform the union of two sets
union = set1 | new_set

print(union)

<class 'SyntaxError'>: invalid syntax (<ipython-input-10-d92e8cad9c2f>, line 1)

In [6]:
set1 = {2, 3, 4, 5}  # Define the set
tiple = (1, 2, 3, 4)  # Define the tuple

# Convert the tuple to a set
new_set = set(tiple)

# Perform the union of two sets
union = set1 | new_set

print(union)

<class 'TypeError'>: 'set' object is not callable

In [11]:
set1 = {2, 3, 4, 5}  # Define the set
tuple1 = (1, 2, 3, 4)  # Define the tuple, rename from 'tuple' to 'tuple1'

# Convert the tuple to a set
new_set = set(tuple1)

# Perform the union of two sets
union = set1 | new_set

print(union)

<class 'TypeError'>: 'set' object is not callable

In [12]:
def flatten(nested_list):
    flattened = []
    for element in nested_list:
        if isinstance(element, list):  # If the element is a list
            flattened.extend(flatten(element))  # Recursively flatten it
        else:
            flattened.append(element)  # If it's not a list, add it to the flattened list
    return flattened

# Example
nested_list = [[1, 2, [3]], 4, [5, 6]]
flattened_list = flatten(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [13]:
nested_list = [[1, 2, [3]], 4, [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

<class 'TypeError'>: 'int' object is not iterable

In [14]:
def flatten(nested_list):
    flattened = []
    for element in nested_list:
        if isinstance(element, list):  # If the element is a list
            flattened.extend(flatten(element))  # Recursively flatten it
        else:
            flattened.append(element)  # If it's not a list, add it to the flattened list
    return flattened

# Example
nested_list = [[1, 2, [3]], 4, [5, 6]]
flattened_list = flatten(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [16]:
def flattened(nested_list):
    flattened=[]
    for elements in nested_list:
        if isinstance (element,list):
            flattend.extend(flatten(element))
        else:
            flattened.append(element)
    return flattened
nested_list=[[1,2,[3]],4,[5,6]]
flattend_list=flatten(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [17]:
def rotate_list(lst, n):
    # Step 1: Handle the case where n is larger than the length of the list
    n = n % len(lst)  # This ensures we don't do unnecessary full rotations
    
    # Step 2: Rotate the list
    return lst[-n:] + lst[:-n]  # Get the last n elements and append the rest

# Example usage
lst = [1, 2, 3, 4, 5]
n = 3
rotated_lst = rotate_list(lst, n)
print(rotated_lst)

[3, 4, 5, 1, 2]

In [18]:
# List of tuples
lst = [(1, 3), (2, 2), (3, 1)]

# Sorting the list based on the second element of each tuple
sorted_lst = sorted(lst, key=lambda x: x[1])

# Output the sorted list
print(sorted_lst)

[(3, 1), (2, 2), (1, 3)]

In [19]:
def flatten_tuple(tup_of_tups):
    # Use a generator expression to flatten the tuple of tuples
    return tuple(element for sub_tuple in tup_of_tups for element in sub_tuple)

# Example usage:
input_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = flatten_tuple(input_tuple)
print(flattened_tuple)

<class 'TypeError'>: 'tuple' object is not callable

In [20]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Remove elements in set2 from set1 using difference_update
set1.difference_update(set2)
print("Modified set1:", set1)

# Alternatively, using the -= operator
set1 = {1, 2, 3, 4, 5}
set1 -= set2
print("Modified set1:", set1)

Modified set1: {1, 3, 5}
Modified set1: {1, 3, 5}

In [23]:
def are_disjoint(set1, set2,my_set):
    # Check if the intersection of set1 and set2 is empty
    return set1 & set2 == my_set()

# Example usage:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {2, 4}

print(are_disjoint(set1, set2))  # True, because they have no elements in common
print(are_disjoint(set1, set3))  # False, because they have element '2' in common

<class 'TypeError'>: are_disjoint() missing 1 required positional argument: 'my_set'